.bodyDiv{
    height: 120vh;
}

div.bodyContainer{
    margin-top: 20px !important; 
}

.tabs a{
        color: #64b5f6;
        font-weight: bold;
        font-size: 18px;
}

.tabs a.active{
    background-color: inherit !important;
}

.auth-content{
    height: 485px !important;
}